
<h1>Listing Projects</h1>
<div id="form_field">
<%= render "searchform" %>
</div>
<%= button_to  "Reset", {action: 'index'}, method: "get", remote: true, id: 'reset_button' %>
<%= button_to "Create New Project Now",{:controller => 'projects',  :action => 'new' }, :method => :get %>
<div id="content">
<%= render "content"%>
</div>